@page "/beyourselfassembly/login"
@layout EmptyLayout

@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<style>
    #radius {
        width: 500px;
        height: 500px;
        background-color: #1E90FF;
        border-radius: 50%;
        text-align: center;
        line-height: 100px;
    }
</style>
<div style="text-align:-webkit-center;">
    <div id="radius" style="margin-top:100px;">

        <h2 style="color:white;padding-top:150px;">Beyourself</h2>

        <Input Placeholder="Your Email" @bind-Value="@Email" Style="background-color:white;width:350px;height:46px;" />

        <Button Type="@ButtonType.Primary" OnClick=OnLogin  Style="background-color:blueviolet;color:white;width:350px;height:46px;">LOGIN USING EMAIL</Button>
    </div>
</div>



@code {
    private string? Email{ get; set; }
    private async Task OnLogin()
    {
        if (string.IsNullOrEmpty(Email))
        {
            await JSRuntime.InvokeAsync<object>("alert", "Email is required.");
            return;
        }
        if (!System.Text.RegularExpressions.Regex.IsMatch(Email, @"^[\w\.-]+@[\w\.-]+\.\w+$"))
        {
            await JSRuntime.InvokeAsync<object>("alert", "Email is not valid.");
            return;
        }
        NavigationManager.NavigateTo("/");
    }
}
